<header class="major">
	<h2>Additional Resources</h2>
</header>
<div class="posts">
	<article>
		<a href="#" class="image"><img src= "" alt="" /></a>
		<h3>Glossary</h3>
		<p>Learn common terms used within this guide</p>
		<ul class="actions">
			<li><a href="{{ './additional_information/glossary/glossary' |url }}" , class="button">Learn more</a></li>
		</ul>
	</article>
	<article>
		<a href="#" class="image"><img src="" alt="" /></a>
		<h3>Tutorials</h3>
		<p> Discover tutorials and ways to use data</p>
		<ul class="actions">
			<li><a href="https://github.com/NHS-Dev/nhs-tutorials"  , class="button">Learn more</a></li>
		</ul>
	</article>
	<article>
		<a href="#" class="image"><img src="" alt="" /></a>
		<h3>Accessing Data</h3>
		<p>Learn how to access CMC products</p>
		<ul class="actions">
			<li><a href= "{{ './coming-soon' |url }}" , class="button">Learn more</a></li>
		</ul>
	</article>
</div>