<nav id="menu">
	<header class="major">
		<h2>Menu</h2>
	</header>
	{%- block site_nav %}
		<ul>
		{%- if nav|length>1 %}
			{%- for nav_item in nav %}
				{%- if nav_item.children %}
					<li class="{% if nav_item.active%}current{%endif%}">
					<span class="opener">{{ nav_item.title }}</span>
					<ul>
					{%- for nav_item in nav_item.children %}
						<a href="{{ nav_item.url|url }}" >{{ nav_item.title }}</a>
					{%- endfor %}
					</ul>
					</li>
					{%- else %}
					<li class="{% if nav_item.active%}current{%endif%}">
						<a href="{{ nav_item.url|url }}" class="nav-link">{{ nav_item.title }}</a>
					</li>
				{%- endif %}
		{%- endfor %}
	{%- endif %}
{%- endblock %}
</ul>
</nav>