<!DOCTYPE HTML>
<html>
{% extends "base.html" %}
	<!-- Markdown content -->
	{% block content %}
		<section>
		<div class="content">
		{{ page.content }}
		</div>
		</section>
		<!-- additional resources -->
		<section>
		<div class="content">
		{% include "partials/highlighted-products.html" %}
		</div>
		</section>
		<!-- Frequently asked questions -->
		<section>
		<div class="content">
		{% include "partials/FAQ.html" %}
		</div>
		</section>
	{% endblock %}
	 
</html>