<!DOCTYPE HTML>
<html>
{% extends "base.html" %}


	<!-- Markdown content -->
	{% block content %}
	<!-- Image and button layout -->
		<section id="banner">
			<div class="content">
			{{ page.content }}
			<ul class="actions">
				<li><a href="{{ './about' |url }}", class="button big">Learn More</a></li>
				</ul>
			</div>
			<span class="image object">
				<img src="images/systems_overview.JPG" alt="" />
			</span>
		</section>
		<!-- include highlighted products -->
		{% include "partials/highlighted-products.html" %}
	{% endblock %}
	  
	  

</html>